@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body{
  background-color:black;
}

.dashboard-heading {
  font-family: 'Press Start 2P', cursive;
  color: #00C895;
  font-size: 50px;
  text-align:center;
}

.board-container {
  padding-top: 50px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-areas:
  "turn turn" 
  "board-1 board-2"
  "title-1 title-2"
  "action action";
  font-family: 'Press Start 2P', cursive;
  color: #00C895;
  font-size:15px;
  justify-content: center;
  text-align: center;

}

.game-board-turn {
  grid-area: turn;
}

.game-board-player1 {
  grid-area: board-1;
}

.game-board-player2 {
  grid-area: board-2;
}

.game-board-title-player1 {
  grid-area: title-1;
  
}

.game-board-title-player2 {
  grid-area: title-2;
}

.game-board-action {
  grid-area: action;
  font-size: 50px;
  text-transform: uppercase;
}


.hit-blinking{
  animation:hit-blinkingText 0.8s infinite;
}
@keyframes hit-blinkingText{
  0%{     color: rgb(255, 0, 0);    }
  49%{    color: transparent; }
  50%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: rgb(255, 0, 0);    }
}


